<?xml version="1.0" encoding="utf-8"?>
<Redirect Key="615e5ec1-cb6b-4ef7-a720-211638339450">
  <Info>
    <IsEnabled>true</IsEnabled>
    <IsRegex>false</IsRegex>
    <Domain />
    <CustomDomain />
    <OldUrl>/test</OldUrl>
    <NewUrl />
    <NewNode>dcf18a51-6919-4cf8-89d1-36b94ce4d963</NewNode>
    <NewNodeCulture>en-US</NewNodeCulture>
    <CreatedBy />
    <RedirectCode>302</RedirectCode>
  </Info>
</Redirect>