<?xml version="1.0" encoding="utf-8"?>
<Redirect Key="f3de0399-5d29-4770-a386-d0001ad595f5">
  <Info>
    <IsEnabled>true</IsEnabled>
    <IsRegex>false</IsRegex>
    <Domain />
    <CustomDomain />
    <OldUrl>/hello-world</OldUrl>
    <NewUrl>/hello-world2/</NewUrl>
    <NewNode />
    <NewNodeCulture>en-US</NewNodeCulture>
    <CreatedBy>1e70f841-c261-413b-abb2-2d68cdb96094</CreatedBy>
    <RedirectCode>302</RedirectCode>
  </Info>
</Redirect>