<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9a426393-b2c8-4403-a85f-00b7a51ebe69" Alias="[MNTP] Categories" Level="1">
  <Info>
    <Name>[MNTP] Categories</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ContentPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "filter": null,
  "ignoreUserStartNodes": false,
  "maxNumber": 0,
  "minNumber": 0,
  "startNode": {
    "type": "content",
    "query": null,
    "dynamicRoot": {
      "originAlias": "ByKey",
      "originKey": "dcf18a51-6919-4cf8-89d1-36b94ce4d963",
      "querySteps": [
        {
          "alias": "NearestDescendantOrSelf",
          "anyOfDocTypeKeys": [
            "539869ea-4f0d-4c3b-80b1-aaa80a1c16e6"
          ]
        }
      ]
    },
    "id": null
  }
}]]></Config>
</DataType>