<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fccec1e1-0057-48ca-b9bf-184e00758a58" Alias="[Toggle] Default True" Level="1">
  <Info>
    <Name>[Toggle] Default True</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Toggle</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "default": true,
  "showLabels": false
}]]></Config>
</DataType>