<div ng-controller="uSeoToolkit.ContentApps.MetaFieldsController as vm" class="form-horizontal">
    
    <div class="alert-box" ng-if="vm.isContentDirty()">
        Make sure to save/publish your changes to see the updated values here!
    </div>

    <umb-editor-sub-header>
        <umb-editor-sub-header-content-right>
            <umb-button action="vm.startEdit()"
                        type="button"
                        button-style="outline"
                        label="Edit" ng-if="!vm.edit">
            </umb-button>
            <umb-button action="vm.finishEdit()"
                        type="button"
                        button-style="outline"
                        label="Finish" ng-if="vm.edit">
            </umb-button>
        </umb-editor-sub-header-content-right>
    </umb-editor-sub-header>
    <umb-box>
        <umb-box-header title="Seo Settings"></umb-box-header>
        <umb-box-content>
            <div class="umb-property" ng-repeat="field in vm.fields">
                <div class="control-group umb-control-group">
                    <div class="umb-el-wrap">
                        <div class="control-header">
                            <label class="control-label">{{field.title}}</label>
                            <small class="control-description">
                                {{vm.field.description}}
                            </small>
                        </div>
                        <div class="controls">
                            <div class="umb-property-editor" ng-if="!vm.edit">
                                <a href="{{field.value}}" ng-if="vm.isUrl(field.value)">
                                    {{field.value}}
                                </a>
                                <div ng-if="!vm.isUrl(field.value)">
                                    {{field.value}}
                                </div>
                            </div>
                            <umb-property-editor class="umb-property-editor" model="field.editModel" ng-if="vm.edit">

                            </umb-property-editor>
                        </div>
                    </div>
                </div>
            </div>
        </umb-box-content>
    </umb-box>
</div>