@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    @await Html.PartialAsync("~/Views/Partials/metaData.cshtml")
    <link href="/clean-assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/clean-assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet">
    <link href="/clean-assets/css/clean-blog.css" rel="stylesheet">
    <link href="/clean-assets/css/prettify.css" rel="stylesheet">
</head>
<body>
    @await Html.CachedPartialAsync("~/Views/Partials/mainNavigation.cshtml", model: Model, cacheTimeout: TimeSpan.FromMinutes(60))
    @RenderBody()
    @await Html.CachedPartialAsync("~/Views/Partials/footer.cshtml", model: Model, cacheTimeout: TimeSpan.FromMinutes(60))
    <script type="text/javascript" src="/clean-assets/vendor/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/clean-assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="/clean-assets/scripts/run_prettify.js?skin=sunburst"></script>
    <script type="text/javascript" src="/clean-assets/scripts/clean-blog.js"></script>
</body>
</html>
