<div ng-controller="SeoToolkit.ContentApps.SeoSettingsController as vm" class="form-horizontal seo-settings">
    <div ng-show="vm.loading === false" ng-hide="model.isElement">
        
        <div class="umb-editor-tab-bar">
            <ul class="umb-tabs-nav">
                <li class="umb-tab" ng-class="{'umb-tab--active' : display.active}" ng-repeat="display in vm.displays track by display.alias">
                    <button class="umb-tab-button btn-reset" ng-click="vm.setActive(display)">{{display.name}}</button>
                </li>

                <li class="umb-tab seo-settings-tab">
                    <button class="btn btn-small btn-outline" ng-show="!vm.model.enableSeoSettings" ng-click="vm.setSeoSettings(true)">Enable SEO Settings</button>
                    <button class="btn btn-small btn-outline" ng-show="vm.model.enableSeoSettings" ng-click="vm.setSeoSettings(false)">Disable SEO Settings</button>
                </li>
            </ul>
        </div>

        <umb-box ng-show="vm.model.enableSeoSettings">
            <umb-box-content>
                <umb-editor-sub-views sub-views="vm.displays">
                </umb-editor-sub-views>
            </umb-box-content>
        </umb-box>

        <umb-empty-state ng-show="!vm.model.enableSeoSettings" position="center">
            Enable the SEO settings to start customizing your settings!
        </umb-empty-state>
    </div>

    <umb-empty-state ng-show="model.isElement"
                     position="center">
        <localize key="contentTypeEditor_elementDoesNotSupport">This is not applicable for an Element type</localize>
    </umb-empty-state>
</div>