<div ng-controller="SeoToolkit.ContentApps.DocumentSettingController as vm" class="form-horizontal" ng-show="vm.loading != true">
    <div class="control-group umb-control-group">
        <div class="umb-el-wrap">
            <div class="control-header">
                <label class="control-label">Inheritance</label>
                <small class="control-description">
                    Control from which type this should be inherited. It'll then use the values from that type.
                </small>
            </div>
            <div class="controls">
                <a id="starting-node" ng-if="vm.model.inheritance == null" ng-click="vm.openContentTypeDialog()">Select inheritance</a>
                <a ng-if="vm.model.inheritance != null" ng-click="vm.openContentTypeDialog()">{{vm.model.inheritance.name}}</a>
                <i class="icon-delete" ng-if="vm.model.inheritance != null" ng-click="vm.removeInheritance()"></i>
            </div>
        </div>
    </div>
    <div class="control-group umb-control-group --label-on-top" ng-repeat="field in vm.model.fields">
        <div class="umb-el-wrap">
            <div class="control-header">
                <label class="control-label">{{field.title}}</label>
                <small class="control-description">
                    {{field.description}}
                </small>
            </div>
            <div class="controls" ng-include="field.editor.view">


                <!--
                <span ng-if="!field.useInheritedValue">{{vm.formatFieldValue(field)}}</span>
                <b ng-if="field.useInheritedValue">Inherited value</b>

                <div style="float: right;">
                    <a class="btn btn-success" ng-click="vm.openSettingDialog(field)" ng-if="!field.useInheritedValue">Open settings</a>
                    <a class="btn" ng-click="vm.toggleUseInheritedValue(field, false)" ng-if="field.useInheritedValue">Override</a>
                    <a class="btn" ng-click="vm.toggleUseInheritedValue(field, true)" ng-if="!field.useInheritedValue && vm.model.inheritance != null">Use inherited</a>
                </div>
                    -->
            </div>
        </div>
    </div>
</div>