<div class="welcomeDashboard" ng-controller="uSeoToolkit.uSeoToolkit.WelcomeDashboardController as vm">

    <umb-load-indicator ng-if="vm.loading"></umb-load-indicator>

    <h1>Welcome!</h1>
    <div class="intro">
        <p>This is the dashboard for uSeoToolkit. The SEO package for Umbraco.</p>
        <p>Here you can see what modules are installed. Each functionality is shipped in its own package. So you can mix and match to your liking!</p>
    </div>
    <div class="modules">
        <a href="#" ng-href="{{item.link}}" ng-repeat="item in vm.modules" class="module" target="_blank">
            <div class="module-icon">
                <umb-icon icon="{{item.icon}}"></umb-icon>
            </div>
            <p class="module-title">{{item.title}}</p>
            <p class="module-status module-status-disabled" ng-if="item.status === 2">Disabled</p>
            <p class="module-status module-status-installed" ng-if="item.status === 1">Installed</p>
            <p class="module-status" ng-if="item.status === 0">Not installed</p>
        </a>
    </div>
</div>