<div ng-controller="uSeoToolkit.RobosTxt.DetailController as vm">
    <form name="contentForm" novalidate val-form-manager class="form-horizontal">
        <umb-editor-view ng-if="!vm.loading">
            <umb-pane>
                <umb-box>
                    <umb-box-header title="Robots.txt"></umb-box-header>
                    <umb-box-content>
                        <umb-property property="vm.editProperty">
                            <umb-property-editor model="vm.editProperty" is-pre-value="true"></umb-property-editor>
                        </umb-property>
                        <div ng-if="vm.validationErrors.length > 0">
                            <h5>Validation Errors</h5>
                            <p class="error" ng-repeat="error in vm.validationErrors">
                                <umb-icon icon="icon-delete" class="red"></umb-icon>
                                Line {{error.lineNumber}} - {{error.error}}
                            </p>
                        </div>
                    </umb-box-content>
                </umb-box>
            </umb-pane>
            <umb-editor-footer>
                <umb-editor-footer-content-right>
                    <umb-button type="button"
                                button-style="success"
                                state="vm.page.saveButtonState"
                                shortcut="ctrl+s"
                                label="Save"
                                label-key="buttons_save"
                                action="vm.save()">
                    </umb-button>
                </umb-editor-footer-content-right>
            </umb-editor-footer>
        </umb-editor-view>
    </form>
</div>