<div ng-controller="SeoToolkit.Redirects.ListController as vm">

    <div class="umb-dashboard umb-scrollable row-fluid">
        <div class="umb-dashboard__content">

            <umb-editor-sub-header ng-class="{'--state-selection':(vm.selection.length > 0)}">
                <umb-editor-sub-header-content-left ng-if="vm.selection.length == 0">
                    <umb-button type="button"
                                button-style="outline"
                                size="xs"
                                label-key="redirect_create"
                                action="vm.create()">Add Redirect</umb-button>
                </umb-editor-sub-header-content-left>

                <umb-editor-sub-header-content-left ng-if="vm.selection.length > 0">
                    <umb-button type="button"
                                button-style="white"
                                size="xs"
                                label-key="buttons_clearSelection"
                                action="vm.clearSelection()">Clear Selection</umb-button>
                </umb-editor-sub-header-content-left>
                
                <umb-editor-sub-header-content-right ng-if="vm.selection.length == 0">
                    <umb-mini-search model="vm.searchFilter" on-search="vm.search()">

                    </umb-mini-search>
                </umb-editor-sub-header-content-right>
                <umb-editor-sub-header-content-right ng-if="vm.selection.length > 0">
                    <umb-button type="button"
                                button-style="white"
                                size="xs"
                                label-key="general_delete"
                                icon="icon-trash"
                                action="vm.deleteSelection()">Delete</umb-button>
                </umb-editor-sub-header-content-right>
            </umb-editor-sub-header>
            
            <umb-load-indicator ng-if="vm.loading"></umb-load-indicator>
            
            <div ng-if="!vm.loading">
                <umb-table class="redirects-table"
                           items="vm.items"
                           item-properties="vm.options.includeProperties"
                           allow-select-all="vm.options.bulkActionsAllowed"
                           on-select="vm.selectItem(item, $index, $event)"
                           on-click="vm.clickItem(item)"
                           on-select-all="vm.selectAll($event)"
                           on-selected-all="vm.isSelectedAll()"
                           on-sorting-direction="vm.isSortDirection(col, direction)"
                           on-sort="vm.sort(field, allow, isSystem)">
                </umb-table>

                <div class="flex justify-center">
                    <umb-pagination page-number="vm.pageNumber"
                                    total-pages="vm.totalPages"
                                    on-next="vm.nextPage"
                                    on-prev="vm.prevPage"
                                    on-change="vm.changePage"
                                    on-go-to-page="vm.goToPage">
                    </umb-pagination>
                </div>
            </div>

        </div>
    </div>
</div>