<?xml version="1.0" encoding="utf-8"?>
<MetaFieldSetting Key="b871f83c-2395-4894-be0f-5422c1a71e48" Alias="content">
  <Info>
    <Fields>
      <Field>
        <Alias>title</Alias>
        <UseInheritedValue>false</UseInheritedValue>
        <Value>null</Value>
      </Field>
      <Field>
        <Alias>metaDescription</Alias>
        <UseInheritedValue>false</UseInheritedValue>
        <Value>null</Value>
      </Field>
      <Field>
        <Alias>schema</Alias>
        <UseInheritedValue>false</UseInheritedValue>
        <Value>null</Value>
      </Field>
      <Field>
        <Alias>keywords</Alias>
        <UseInheritedValue>false</UseInheritedValue>
        <Value>["Test"]</Value>
      </Field>
      <Field>
        <Alias>openGraphTitle</Alias>
        <UseInheritedValue>false</UseInheritedValue>
        <Value>null</Value>
      </Field>
      <Field>
        <Alias>openGraphDescription</Alias>
        <UseInheritedValue>false</UseInheritedValue>
        <Value>null</Value>
      </Field>
      <Field>
        <Alias>openGraphImage</Alias>
        <UseInheritedValue>false</UseInheritedValue>
        <Value>null</Value>
      </Field>
      <Field>
        <Alias>openGraphUrl</Alias>
        <UseInheritedValue>false</UseInheritedValue>
        <Value>"%CurrentUrl%"</Value>
      </Field>
      <Field>
        <Alias>canonicalUrl</Alias>
        <UseInheritedValue>false</UseInheritedValue>
        <Value>"%CurrentUrl%"</Value>
      </Field>
      <Field>
        <Alias>robots</Alias>
        <UseInheritedValue>false</UseInheritedValue>
        <Value>null</Value>
      </Field>
      <Field>
        <Alias>twitterCardType</Alias>
        <UseInheritedValue>false</UseInheritedValue>
        <Value>null</Value>
      </Field>
      <Field>
        <Alias>twitterSite</Alias>
        <UseInheritedValue>false</UseInheritedValue>
        <Value>null</Value>
      </Field>
      <Field>
        <Alias>twitterCreator</Alias>
        <UseInheritedValue>false</UseInheritedValue>
        <Value>null</Value>
      </Field>
      <Field>
        <Alias>facebookId</Alias>
        <UseInheritedValue>false</UseInheritedValue>
        <Value>null</Value>
      </Field>
    </Fields>
  </Info>
</MetaFieldSetting>