<?xml version="1.0" encoding="utf-8"?>
<MetaFieldSetting Key="a95360e8-ff04-40b1-8f46-7aa4b5983096" Alias="home">
  <Info>
    <InheritanceKey>b0287f57-fb53-4b80-9d0b-eb7c8b277a5a</InheritanceKey>
    <Fields>
      <Field>
        <Alias>title</Alias>
        <UseInheritedValue>false</UseInheritedValue>
        <Value>{"Fields":[{"Name":"Page Name","Value":"custom-pageName","Source":2},{"Name":"Meta Description","Value":"metaDescription","Source":1}]}</Value>
      </Field>
      <Field>
        <Alias>metaDescription</Alias>
        <UseInheritedValue>false</UseInheritedValue>
        <Value>{"Fields":[{"Name":"Page Name","Value":"custom-pageName","Source":2},{"Name":"Meta Description","Value":"metaDescription","Source":1}]}</Value>
      </Field>
      <Field>
        <Alias>schema</Alias>
        <UseInheritedValue>true</UseInheritedValue>
        <Value>{"Fields":[]}</Value>
      </Field>
      <Field>
        <Alias>keywords</Alias>
        <UseInheritedValue>true</UseInheritedValue>
        <Value>[]</Value>
      </Field>
      <Field>
        <Alias>openGraphTitle</Alias>
        <UseInheritedValue>true</UseInheritedValue>
        <Value>{"Fields":[]}</Value>
      </Field>
      <Field>
        <Alias>openGraphDescription</Alias>
        <UseInheritedValue>true</UseInheritedValue>
        <Value>{"Fields":[]}</Value>
      </Field>
      <Field>
        <Alias>openGraphImage</Alias>
        <UseInheritedValue>true</UseInheritedValue>
        <Value>{"Fields":[]}</Value>
      </Field>
      <Field>
        <Alias>openGraphUrl</Alias>
        <UseInheritedValue>true</UseInheritedValue>
        <Value>"%CurrentUrl%"</Value>
      </Field>
      <Field>
        <Alias>canonicalUrl</Alias>
        <UseInheritedValue>true</UseInheritedValue>
        <Value>"%CurrentUrl%"</Value>
      </Field>
      <Field>
        <Alias>robots</Alias>
        <UseInheritedValue>true</UseInheritedValue>
        <Value>null</Value>
      </Field>
      <Field>
        <Alias>twitterCardType</Alias>
        <UseInheritedValue>true</UseInheritedValue>
        <Value>"[]"</Value>
      </Field>
      <Field>
        <Alias>twitterSite</Alias>
        <UseInheritedValue>true</UseInheritedValue>
        <Value>null</Value>
      </Field>
      <Field>
        <Alias>twitterCreator</Alias>
        <UseInheritedValue>true</UseInheritedValue>
        <Value>null</Value>
      </Field>
      <Field>
        <Alias>facebookId</Alias>
        <UseInheritedValue>true</UseInheritedValue>
        <Value>null</Value>
      </Field>
    </Fields>
  </Info>
</MetaFieldSetting>