@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Article>

@using Clean.Core.Models.ViewModels
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels
@using Umbraco.Cms.Core
@using Clean.Core.Extensions

@{
    Layout = "master.cshtml";
    var author = Model.GetAuthor(Umbraco);
}

@await Html.PartialAsync("~/Views/Partials/pageHeader.cshtml", new PageHeaderViewModel(Model.Name, Model.Title, Model.Subtitle, Model.MainImage, author.Name, Model.ArticleDate, Model.Categories))

<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                @Html.GetBlockListHtml(Model.ContentRows)
            </div>
        </div>
    </div>
</article>