@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Contact>

@using Clean.Core.Controllers.Surface
@using Clean.Core.Models.ViewModels
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels

@{  
    Layout = "master.cshtml";
    var submitted = false;
    if (bool.TryParse(TempData["Success"]?.ToString() ?? "", out var success))
    {
        submitted = true;
    }
}

@await Html.PartialAsync("~/Views/Partials/pageHeader.cshtml", new PageHeaderViewModel(Model.Name, Model.Title, Model.Subtitle, Model.MainImage))

<article id="article-content">
    @if (submitted)
    {
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    @if (success)
                    {
                        <p>Thanks for contacting us. We will be in touch soon.</p>
                    }
                    else
                    {
                        <p>There was an error when trying to submit the form. Please try again later.</p>
                    }
                </div>
            </div>
        </div>
    }
    else
    {
        @Html.GetGridHtml(Model, "mainContent", "Clean")
    }
</article>

@if (!submitted)
{
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                @await Component.InvokeAsync("Contact")
            </div>
        </div>
    </div>
}