<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ac6ebe34-fc2b-4ee0-9b26-e7a22adbe591" Alias="xMLSitemap" Level="2">
  <Info>
    <Name>XML Sitemap</Name>
    <Icon>icon-sitemap color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A machine-readable sitemap for search engines, listing all important URLs to improve SEO and indexing.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="7cebdc47-a965-49ec-ab42-bc887d6b1119">visibilityControls</Composition>
    </Compositions>
    <DefaultTemplate>xMLSitemap</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="72f84ac5-d043-4035-937f-2f0a99d6afbe">xMLSitemap</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>