.dynamic-select-box > .controls {
    display: flex;
    justify-content: space-between;
    margin-left: 0;
}

.alert-box {
    background-color: #ffeb3b;
    color: #fff;
    padding: 10px;
    margin-bottom: 20px;
    font-weight: 600;
    border-radius: 3px;
}