<div ng-controller="SeoToolkit.ContentApps.MetaFieldsController as vm" class="form-horizontal">

    <div class="alert alert-warning flex items-center" role="alert" ng-if="vm.isContentDirty()">
        <umb-icon icon="icon-alert" class="medium mr2"></umb-icon>
        <span>Make sure to save/publish your changes to see the updated values here.</span>
    </div>
    
    <div class="seo-content">
        <umb-box ng-repeat="group in vm.groups" ng-if="group.fields.length > 0">
            <umb-box-header title="{{group.name}}" description="{{group.description}}">
            </umb-box-header>
            <umb-box-content>
                <div class="groups">
                    <div class="properties">
                        <div class="umb-property" ng-repeat="field in group.fields">
                            <div class="control-group umb-control-group">
                                <div class="umb-el-wrap">
                                    <div class="control-header">
                                        <label class="control-label">{{field.title}}</label>
                                        <small class="control-description">
                                            {{vm.field.description}}
                                        </small>
                                    </div>
                                    <div class="controls">
                                        <umb-property-editor class="umb-property-editor" model="field.editModel">
                                        </umb-property-editor>
                                        <small class="property-fallback-info" ng-if="field.value">Fallback value: <strong>{{field.value}}</strong></small>
                                        <small class="property-fallback-info" ng-if="!field.value">No fallback value found!</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="previews">
                        <div class="preview" ng-repeat="previewer in group.previewers">
                            <seo-field-previewer previewer="previewer" fields="group.fields">
                            </seo-field-previewer>
                        </div>
                    </div>
                </div>
            </umb-box-content>
        </umb-box>
    </div>
</div>
