<div class="umb-el-wrap" ng-controller="SeoToolkit.SeoFieldEditors.FieldsEditorController as vm">

    <umb-load-indicator ng-if="vm.loading"></umb-load-indicator>
    
    <div ng-show="!vm.loading">
        <div class="umb-nested-content__items" ui-sortable="vm.sortableOptions" ng-model="vm.customSelectedFields">
            <div ng-repeat="field in vm.customSelectedFields">
                <div class="umb-nested-content__item">
                    <div class="umb-nested-content__header-bar">
                        <div class="umb-nested-content__heading">
                            <umb-icon icon="icon-autofill" class="icon"></umb-icon>
                            <div class="umb-nested-content__item-name --has-icon">
                                {{field.name}}
                            </div>
                        </div>
                        <div class="umb-nested-content__icons">
                            <button type="button" class="umb-nested-content__icon umb-nested-content__icon--delete" ng-click="vm.removeField(field)">
                                <umb-icon icon="icon-trash" class="icon"></umb-icon>
                                <span class="sr-only">
                                    <localize key="general_delete">Delete</localize>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="umb-nested-content__footer-bar" aria-hidden="false">
            <button type="button" class="btn-reset umb-nested-content__add-content umb-focus" ng-class="{ '--disabled': false }" ng-click="vm.openFieldPicker($event)">
                 <span>Add fields</span>
            </button>
        </div>
        <small class="control-description">
            Fields to determine the meta field will be checked from top to bottom.
        </small>
    </div>
</div>