<?xml version="1.0" encoding="utf-8"?>
<Media Key="4281aa58-15c6-41a9-b074-33f40fd09ea9" Alias="24 days people at codegarden" Level="2">
  <Info>
    <Parent Key="9bae5a55-05d4-46a9-b2b3-f1ddb9a2bc38">Sample Images</Parent>
    <Path>/SampleImages/daysPeopleAtCodegarden</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-29T07:55:03</CreateDate>
    <NodeName Default="24 days people at codegarden" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "crops": null,
  "focalPoint": null,
  "src": "/media/03qmp3fp/24-days-people-at-codegarden.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>