<div ng-controller="uSeoToolkit.Displays.SitemapSettingsController as vm">
    <umb-property property="vm.hideFromSitemapProperty">
        <umb-property-editor model="vm.hideFromSitemapProperty" is-pre-value="true"></umb-property-editor>
    </umb-property>

    <div class="control-group umb-control-group">
        <div class="umb-el-wrap">
            <div class="control-header">
                <label class="control-label">{{vm.changeFrequencyProperty.label}}</label>
                <small class="control-description">
                    {{vm.changeFrequencyProperty.description}}
                </small>
            </div>
            <div class="controls">
                <div class="umb-property-editor">
                    <select name="selectedEditor"
                            ng-model="vm.changeFrequencyProperty.value"
                            ng-options="d.value as d.name for d in vm.changeFrequencies"></select>
                </div>
            </div>
        </div>
    </div>

    <div class="control-group umb-control-group">
        <div class="umb-el-wrap">
            <div class="control-header">
                <label class="control-label">{{vm.priorityProperty.label}}</label>
                <small class="control-description">
                    {{vm.priorityProperty.description}}
                </small>
            </div>
            <div class="controls">
                <div class="umb-property-editor">
                    <input name="decimalField" class="umb-property-editor umb-number"
                           type="number"
                           ng-model="vm.priorityProperty.value"
                           step="0.1"
                           min="0"
                           max="1"
                           fix-number />
                </div>
            </div>
        </div>
    </div>
</div>