<div ng-controller="uSeoToolkit.ContentApps.SeoSettingsController as vm" class="form-horizontal seo-settings">
    <umb-box ng-show="vm.loading === false" ng-hide="model.isElement">
        <umb-box-content>
            <div class="control-group umb-control-group">
                <div class="umb-el-wrap">
                    <div class="control-header">
                        <label class="control-label">Enable SEO Settings</label>
                        <small class="control-description">
                            Enables the manual SEO Settings for this document type
                        </small>
                    </div>
                    <div class="controls">
                        <div class="umb-property-editor">
                            <umb-toggle checked="vm.model.enableSeoSettings"
                                        on-click="vm.toggleSeoSettings()">
                            </umb-toggle>
                        </div>
                    </div>
                </div>
            </div>
        </umb-box-content>
    </umb-box>
    <umb-box ng-show="vm.loading === false" ng-hide="model.isElement || !vm.model.enableSeoSettings">
        <umb-box-content>
            <div class="umb-editor-tab-bar">
                <ul class="umb-tabs-nav">
                    <li class="umb-tab" ng-class="{'umb-tab--active' : display.active}" ng-repeat="display in vm.displays track by display.alias">
                        <button class="umb-tab-button btn-reset" ng-click="vm.setActive(display)">{{display.name}}</button>
                    </li>
                </ul>
            </div>
            <umb-editor-sub-views sub-views="vm.displays">
            </umb-editor-sub-views>
        </umb-box-content>
    </umb-box>
    <umb-empty-state ng-show="model.isElement"
                     position="center">
        <localize key="contentTypeEditor_elementDoesNotSupport">This is not applicable for an Element type</localize>
    </umb-empty-state>
</div>