<umb-load-indicator ng-if="$ctrl.state.isLoading"></umb-load-indicator>

<div ng-if="!$ctrl.state.isLoading">
    <umb-box>
        <div class="umb-box-header">
            {{$ctrl.state.audit.Name}}
        </div>
        <div class="umb-box-header">
            Errors: {{$ctrl.state.errors}}
            <br />
            Warnings: {{$ctrl.state.warnings}}
        </div>
    </umb-box>
    <div class="umb-packages-section">
        <div class="umb-packages-categories">
            <button type="button" class="umb-packages-category -first" style="max-width: 100%">
                All pages
            </button>
            <button type="button" class="umb-packages-category -last" style="max-width: 100%">
                All checks
            </button>
        </div>
    </div>
    <div class="umb-panel-group__details-group">
        <div class="umb-panel-group__details-group-title">
            <div class="umb-panel-group__details-group-name">All Crawled pages</div>
            <div>
                <umb-toggle checked="$ctrl.state.onlyShowIssues"
                            on-click="$ctrl.fn.toggleShowIssues()"
                            show-labels="true"
                            label-on="Only showing items with issues"
                            label-off="No issue filter">
                </umb-toggle>
            </div>
        </div>
        <div class="umb-panel-group__details-checks">
            <div class="umb-panel-group__details-check">
                <div ng-repeat="page in $ctrl.state.audit.PagesCrawled | filter:$ctrl.fn.pageFilter">
                    <div class="umb-panel-group__details-status" style="justify-content: space-between; padding-left: 20px; padding-right: 20px;">
                        <div style="flex: 1;">{{page.Url}}</div>
                        <div class="umb-healthcheck-messages" style="margin: 0; flex: 1;" ng-show="page.Errors > 0 || page.Warnings > 0">
                            <div class="umb-healthcheck-message" ng-show="page.Errors > 0" style="margin: 0;">
                                <i class="icon-delete color-red" aria-hidden="true"></i>
                                {{page.Errors}}
                            </div>
                            <div class="umb-healthcheck-message" ng-show="page.Warnings > 0" style="margin: 0;">
                                <i class="icon-info color-orange" aria-hidden="true"></i>
                                {{page.Warnings}}
                            </div>
                        </div>
                        <a ng-click="$ctrl.fn.openPage(page)" ng-show="!page.Show">
                            Open
                        </a>
                        <a ng-click="$ctrl.fn.closePage(page)" ng-show="page.Show">
                            Close
                        </a>
                    </div>
                    <div class="umb-panel-group__details-status" ng-show="page.Show" style="padding: 0 20px 15px 40px;border-top: none; display: block;">
                        <div ng-repeat="result in page.Results" ng-show="page.Results.length > 0">
                            {{result.Message}}
                        </div>
                        <div ng-show="page.Results.length == 0">
                            No results for this page!
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>