<div class="umb-property-editor">
    <div class="row-fluid">
        <umb-editor-sub-header>
            <umb-editor-sub-header-content-left>
                <umb-editor-sub-header-section>
                    <div class="btn-group">
                        <button type="button" class="btn btn-outline umb-outline" ng-click="$ctrl.fn.startCreateAudit()">
                            Create Audit
                        </button>
                    </div>
                </umb-editor-sub-header-section>
            </umb-editor-sub-header-content-left>
        </umb-editor-sub-header>

        <umb-table items="$ctrl.state.items"
                   allow-select-all="true"
                   on-select="$ctrl.fn.selectItem(item, $index, $event)"
                   on-click="$ctrl.fn.clickItem(item)"
                   on-select-all="vm.selectAll($event)"
                   on-selected-all="vm.isSelectedAll()">
        </umb-table>

        <umb-load-indicator ng-if="$ctrl.state.isLoading"></umb-load-indicator>
    </div>
</div>